$footerBackground:#292d33;
$footerColor: #e5e7e8;
$footerSubmit: #ca0909;
$border: #cd1717;
$firstSectionTextColor:#555C66;
$backgroundHeader:#292d33;
$btnBurger: #6a6d70;
$btnBurgerHover: #DDE2F8;
$btnLanguageHover: #cac8c9;
$backgroundFirstSection: #dadff5;;
$textAboutColor:#555C66;
$backgroundSecondSection: #292d33;
$backgroundSectionOfSolution: #fffefe;
$sectionFontColor:#808080;
$sectionTitleColor:black;

$backgroundThirdSection: #f1f4fa;
