@import "colors";
.fiveSection{
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  background:$backgroundSectionOfSolution;
  border-top: 1px solid silver;
}
.fiveSection__title{
  text-align: center;
  color: $textAboutColor;
  font-size: 2.5em;
  font-weight: bold;
  &:after{
    content: '';
    padding-left: 20em;
    border-top: 1px solid $textAboutColor;
  }
}
.fiveSection__content{
  display: flex;
  justify-content: center;
}
.fiveSection__FeedBack{
  display: flex;
  flex-direction: column;
  border: 1.5px solid $textAboutColor ;
  border-radius: 16px;
  background: $bgFeedBack;
  box-shadow: 0 0 10px 1px $shadowFeedBack;
}
.fiveSection__FeedBack:nth-child(2){
  margin: 0 32px;
}
.fiveSection__student{
  display: flex;
  padding-bottom: 20px;
}

.fiveSection__section{
  padding-bottom: 20px;
}
.fiveSection__StudentName{
  align-self: center;
  padding: 0 40px 0px 40px;
  font-size: 26px;
  font-weight: bold;
}
.fiveSection__image{
  box-shadow: 0 0 5px 1px black;
}
.fiveSection__FeedBack img{
  width: 150px;
  height: 150px;
  border: 1.5px solid $textAboutColor ;
  border-radius: 50%;
}
.FeedBackSection {
  padding: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  line-height: 30px;
}
@media (min-width: 320px) and (max-width: 768px){
  .fiveSection__title{
    font-size: 1.5em;
    &:after{
      content: '';
      padding-left: 15em;
      border-top: 1.5px solid $textAboutColor;
    }
  }
  .fiveSection__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

  }
  .fiveSection__FeedBack:nth-child(2){
    margin: 24px 0;
  }
  .fiveSection__FeedBack{
    padding: 20px 30px;
  }

}
@media (min-width: 769px) and (max-width: 1120px){
  .fiveSection__title{
    font-size: 2em;
    &:after{
      content: '';
      padding-left: 15em;
      border-top: 1.5px solid $textAboutColor;
    }
  }
  .fiveSection__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

  }
  .fiveSection__FeedBack:nth-child(2){
    margin: 24px 0;
  }
  .fiveSection__FeedBack{
    padding: 20px 20px 20px 30px;
  }

}
@media (min-width: 1121px){
  .fiveSection__FeedBack{
    padding: 20px 30px;
    width: 25%;
  }
}
