@import "colors";
.footer{
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  background: $footerBackground;
  border-top: 1px solid #a9a7a7;
  color: $footerColor;
}
.footer__section{
  width: 50%;
  text-align: center;
  position: relative;
  padding: 20px 0 0 0;
}

.footer__title, .form__title{
  padding-bottom: 20px;
  font-size: 2em;
}
.footer__content{

}
.footer__contentText{
  font-size: 20px;
  padding: 0 0 20px 0;
}
.footer__buttons{
  padding-bottom: 20px;
}
.footer__button{
  width: 40px;
  height: 40px;
  background-size: cover;
  border: none;
  outline: none;
  margin-right: 16px;
  border-radius: 9px;
  &:hover{
    filter: contrast(200%);
  }
}
@media (min-width: 320px) and (max-width: 768px){
  .footer{
    flex-direction: column;
    align-items: center;
  }
  .footer__title, .form__title{
    font-size: 1.5em;
  }
  .footer__section:nth-child(1){
    border-bottom: 1px solid #a9a7a7;
  }
}
@media (min-width: 769px) and (max-width: 1120px){
  .footer__section:not(:last-child){
    padding-right: 20px;
  }
  .footer__section:not(:last-child)::after{
      content: "";
      position: absolute;
      top: 0;
      right: 20px;
      height: 462px;
      border-right: 1px solid #a9a7a7;
    }
}
@media (min-width: 1121px){
  .footer__section:not(:last-child){
    padding-right: 20px;
  }
  .footer__section:not(:last-child)::after{
    content: "";
    position: absolute;
    top: 0;
    right: 20px;
    height: 462px;
    border-right: 1px solid #a9a7a7;
  }
}

