@import "colors";
.secondSection{
  display: flex;
  flex-direction: column;
  background: radial-gradient(45% 50%, #6d7073, $backgroundSecondSection);
  padding: 50px 20px;
  border-top: 1px solid silver;
}
.section{
  margin-bottom: 30px;
  background: $backgroundSectionOfSolution;
  padding: 50px;
  text-align: center;
  color: $sectionFontColor;
  box-shadow: 0 0 15px 2px black;
  border-radius: 30px;

}
.secondSection__firstSection{
  display: flex;
  justify-content:center ;
}
.secondSection__secondSection{
  display: flex;
  justify-content:center ;
}
.secondSection__title {
  font-size: 2em;
  font-weight: bold;
  color: $sectionTitleColor;
  &:after{
    content: '';
    padding-left: 7em;
    border-top: 1.5px solid $textAboutColor;
  }
}
.secondSection__text{
  text-align: left;
  font-size: 1.2em;
}
.secondSection__special{
  color: red;
  font-weight: bold;
  text-decoration: underline;
}
@media (min-width: 320px) and (max-width: 768px){
  .secondSection__firstSection{
    flex-direction: column;
    align-items: center;
  }
  .secondSection__secondSection{
    flex-direction: column;
    align-items: center;
  }
  .section{
    padding: 20px;
  }
  .secondSection__title {
    font-size: 1.5em;
  }
  .secondSection__text{
    text-align: left;
    font-size: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1120px){
  .secondSection__ourMission{
    margin-right: 16px;
    width: 50%;
  }
  .secondSection__ourVision{
    width: 50%;
  }
  .secondSection__ourValues{
    margin-right: 16px;
    width: 50%;
  }
  .secondSection__ourGoals{
    width: 50%;
  }
}
@media (min-width: 1121px){
  .section{
    width: 35%;
  }
  .secondSection__ourMission{
    margin-right: 50px;
  }
  .secondSection__ourValues{
    margin-right: 50px;
  }
}
