@import "header";
@import "firstSection";
@import "secondSection";
@import "thirdSection";
@import "fourthSection";
@import "footer";
@import "form";
@import "ArStyle";
@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('../fonts/ProximaNova-Light.eot');
  src: local('Proxima Nova Light'), local('../fonts/ProximaNova-Light'),
  url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Libre Baskerville';
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
  url('../fonts/librebaskerville.woff2') format('woff2'),
  url('../fonts/librebaskerville.woff') format('woff'),
  url('../fonts/librebaskerville.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Proxima Nova Lt';
}
.general{
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 1px 25px 1px black;
}
.ruLng{
  display: none
}
.engLng{
  display: none;
}


