@charset "UTF-8";
.footer {
  background: #292d33;
  display: flex;
  color: #e5e7e8;
  border-top: 1px solid silver;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.footer__Title {
  text-align: center;
  font-weight: bold;
  padding-bottom: 30px;
}

.footer__buttons {
  display: flex;
  padding: 20px 0;
}

.footer__inner {
  display: flex;
  flex-direction: column;
}

.footer__inner input {
  margin-bottom: 10px;
  padding: 10px 15px;
  font-size: 16px;
  background: #e5e7e8;
  line-height: 24px;
  border: #cd1717;
  border-radius: 8px;
  letter-spacing: -0.2px;
  outline: none;
  resize: none;
}

.footer__submit {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.footer__address {
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) and (max-width: 860px) {
  .footer {
    flex-direction: column;
    padding: 40px 20px 30px 20px;
    align-items: center;
    justify-content: center;
  }

  .footer__formCallBack {
    padding: 10px 0;
  }

  .footer__buttons {
    justify-content: center;
  }

  .footer__content p {
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
  }
}
@media (min-width: 861px) and (max-width: 1120px) {
  .footer {
    padding: 50px 20px;
    justify-content: center;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    padding-bottom: 10px;
  }

  .footer__address {
    margin-left: 24px;
  }

  .footer__content p {
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
  }

  .footer__buttons {
    justify-content: center;
  }
}
@media (min-width: 1121px) {
  .footer {
    padding: 50px 30px 0 30px;
    justify-content: center;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    padding-bottom: 10px;
  }

  .footer__content p {
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
  }

  .footer__address {
    margin-left: 100px;
  }

  .footer__buttons {
    justify-content: center;
  }
}
.footer__button {
  width: 40px;
  height: 40px;
  background-size: cover;
  border: none;
  outline: none;
  margin-right: 16px;
  border-radius: 9px;
}
.footer__button:hover {
  filter: contrast(200%);
}

.footer__submit input {
  background: #ca0909;
  background-size: cover;
  outline: none;
  border-radius: 12px;
  color: #e5e7e8;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 52px;
  letter-spacing: 3.5px;
  border: none;
  box-shadow: 2px 2px 10px 2px #3e0606;
}
.footer__submit input:hover {
  filter: contrast(200%);
}

.header__button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #6a6d70;
}
.header__button:hover {
  filter: contrast(200%);
  box-shadow: 0 1px 5px 1px #f1f4fa;
  transform: scale(1.1);
}

.header__btn {
  align-self: center;
}

.header__button {
  margin-right: 15px;
}

.header__buttonLanguage {
  margin-right: 15px;
  border: none;
  outline: none;
  background: none;
}

.header__p {
  font-size: 18px;
  font-weight: bold;
  color: #cac8c9;
}
.header__p:hover {
  filter: contrast(200%);
}

.header__select {
  align-self: center;
  margin-right: 20px;
  width: 100px;
  height: 30px;
  background: #808080;
  color: white;
  border-radius: 6px;
  outline: none;
}
.header__select:hover {
  filter: contrast(200%);
  box-shadow: 0 1px 5px 1px black;
  transform: scale(1.1);
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin-left: 16px;
  background: #6a6d70;
  color: #f1f4fa;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.btn:hover {
  filter: contrast(200%);
  box-shadow: 0 1px 5px 1px #f1f4fa;
  transform: scale(1.1);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #292d33;
}

.header__logo {
  font-family: "Libre Baskerville";
  text-align: center;
  justify-content: center;
  flex-grow: 1;
  display: flex;
  color: #B8B8B8;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.header__logo p {
  align-self: center;
}

.header__logo img {
  height: 80px;
  padding: 0 30px;
}

.firstSection {
  background: #f1f4fa;
  display: flex;
  color: #555C66;
  padding: 50px 20px;
}

.firstSection__img img {
  width: 100%;
  height: auto;
}

.firstSection__title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.firstSection__title:after {
  content: "";
  padding-right: 10em;
  border-top: 1.5px solid #555C66;
}

.firstSection__text {
  color: #ca0909;
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 768px) {
  .firstSection {
    flex-direction: column;
  }

  .firstSection__content {
    padding: 20px 30px;
    align-self: center;
  }

  .firstSection__information {
    font-size: 1.3em;
    line-height: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1120px) {
  .firstSection {
    flex-direction: column;
  }

  .firstSection__information {
    padding: 20px 30px 20px 50px;
    font-size: 1.3em;
    line-height: 30px;
  }
}
@media (min-width: 1121px) {
  .firstSection__img {
    width: 50%;
    align-self: center;
  }

  .firstSection__information {
    padding: 20px 30px 20px 50px;
    font-size: 1.3em;
    line-height: 30px;
  }

  .firstSection__content {
    width: 50%;
    padding: 20px 30px;
    align-self: center;
  }
}
.secondSection {
  display: flex;
  flex-direction: column;
  background: radial-gradient(45% 50%, #6d7073, #292d33);
  padding: 50px 20px;
  border-top: 1px solid silver;
}

.section {
  margin-bottom: 30px;
  background: #fffefe;
  padding: 20px 20px 30px 20px;
  text-align: center;
  color: #808080;
  box-shadow: 0 0 15px 2px black;
  border-radius: 30px;
}

.secondSection__firstSection {
  display: flex;
  justify-content: center;
}

.secondSection__secondSection {
  display: flex;
  justify-content: center;
}

.secondSection__title {
  font-size: 2em;
  font-weight: bold;
  color: black;
}
.secondSection__title:after {
  content: "";
  padding-left: 7em;
  border-top: 1.5px solid #555C66;
}

.secondSection__text {
  font-size: 1.2em;
  padding-left: 15px;
}

.secondSection__special {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 768px) {
  .secondSection__firstSection {
    flex-direction: column;
    align-items: center;
  }

  .secondSection__secondSection {
    flex-direction: column;
    align-items: center;
  }

  .section {
    padding: 20px;
  }

  .secondSection__title {
    font-size: 1.5em;
  }

  .secondSection__text {
    text-align: left;
    font-size: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1120px) {
  .secondSection__ourMission {
    margin-right: 32px;
    width: 50%;
  }

  .secondSection__ourVision {
    width: 50%;
  }

  .secondSection__ourValues {
    margin-right: 32px;
    width: 50%;
  }

  .secondSection__ourGoals {
    width: 50%;
  }
}
@media (min-width: 1121px) {
  .section {
    width: 35%;
  }

  .secondSection__ourMission {
    margin-right: 50px;
  }

  .secondSection__ourValues {
    margin-right: 50px;
  }
}
.fourthSection {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  background: #f1f4fa;
}

.fourthSection__title {
  text-align: center;
  color: #555C66;
  font-size: 2.5em;
  font-weight: bold;
}
.fourthSection__title:after {
  content: "";
  padding-left: 20em;
  border-top: 1.5px solid #555C66;
}

.fourthSection__content {
  display: flex;
}

.fourthSection__img img {
  width: 100%;
}

.fourthSection__content {
  font-size: 1.1em;
  line-height: 25px;
  padding: 10px 20px;
  letter-spacing: 0.5px;
  color: black;
  border-radius: 30px;
}

.fourthSection__img {
  padding-bottom: 30px;
}

.fourthSection__text {
  list-style-type: none;
  padding-bottom: 20px;
}

.list:before {
  content: "✔";
  padding-right: 20px;
}

.listAr {
  position: relative;
  text-align: right;
  font-size: 30px;
}

.listAr:before {
  position: absolute;
  content: "✔";
  padding-left: 20px;
  right: -30px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .fourthSection__title {
    font-size: 1.5em;
  }
  .fourthSection__title:after {
    content: "";
    padding-left: 15em;
    border-top: 1.5px solid #555C66;
  }

  .fourthSection__content {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 1120px) {
  .fourthSection__title {
    font-size: 2em;
  }
  .fourthSection__title:after {
    content: "";
    padding-left: 15em;
    border-top: 1.5px solid #555C66;
  }

  .fourthSection__content {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1121px) {
  .fourthSection__list {
    width: 50%;
    margin: 20px;
  }

  .fourthSection__content {
    display: flex;
  }

  .fourthSection__img {
    width: 60%;
  }
}
.thirdSection {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-bottom: 1.5px solid #555C66;
  border-top: 1.5px solid #555C66;
}

.thirdSection__title {
  text-align: center;
  color: #555C66;
  font-weight: bold;
}

.thirdSection__listStudents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px 0 16px 24px;
}

.thirdSection__listParents {
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  flex-wrap: wrap;
}

.thirdSection__service {
  width: 320px;
  height: 200px;
  box-shadow: 0px 0px 7px 1px #555c66;
  text-align: center;
  margin-right: 24px;
  margin-bottom: 24px;
  color: white;
  text-transform: uppercase;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #bababa;
}

.thirdSection__service p {
  padding: 10px;
  font-weight: bold;
  text-shadow: 0 0 20px black;
}

@media (min-width: 320px) and (max-width: 768px) {
  .thirdSection__title {
    font-size: 1.5em;
  }
  .thirdSection__title:after {
    content: "";
    padding-left: 15em;
    border-top: 1.5px solid #555C66;
  }

  .thirdSection__listStudents {
    padding: 0;
  }

  .thirdSection__listParents {
    padding: 0;
  }
}
@media (min-width: 769px) and (max-width: 1120px) {
  .thirdSection__title {
    font-size: 2em;
  }
  .thirdSection__title:after {
    content: "";
    padding-left: 15em;
    border-top: 1.5px solid #555C66;
  }
}
@media (min-width: 1121px) {
  .thirdSection__title {
    font-size: 2.5em;
  }
  .thirdSection__title:after {
    content: "";
    padding-left: 20em;
    border-top: 1.5px solid #555C66;
  }
}
.img_1 {
  background-image: url("../img/FuGGy2oreFw-min.jpg");
}

.img_2 {
  background-image: url("../img/1pfFgam8a6Q-min.jpg");
}

.img_3 {
  background-image: url("../img/3GVdxDK7tt8-min.jpg");
}

.img_4 {
  background-image: url("../img/88REShJyP9Y-min.jpg");
}

.img_5 {
  background-image: url("../img/QQZhRNoIqXU-min.jpg");
}

.img_6 {
  background-image: url("../img/qLoReQeRPwQ-min.jpg");
}

.img_7 {
  background-image: url("../img/UAEFDftDRRA-min.jpg");
}

.img_8 {
  background-image: url("../img/wgCJNdperqg-min.jpg");
}

.img_9 {
  background-image: url("../img/cEXHNQTQ8Yc-min.jpg");
}

.img_10 {
  background-image: url("../img/9ZCG6TBZR48-min.jpg");
}

.img_11 {
  background-image: url("../img/PcPBGwI3vfI-min.jpg");
}

.img_12 {
  background-image: url("../img/pfXsipfLtrs-min.jpg");
}

.img_13 {
  background-image: url("../img/34rt927UvG8-min.jpg");
}

.img_14 {
  background-image: url("../img/kU-J12L0Riw-min.jpg");
}

.img_15 {
  background-image: url("../img/KjHOEWxWOoI-min.jpg");
  background-size: contain;
}

.fiveSection {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  background: #fffefe;
  border-top: 1px solid silver;
}

.fiveSection__title {
  text-align: center;
  color: #555C66;
  font-size: 2.5em;
  font-weight: bold;
}
.fiveSection__title:after {
  content: "";
  padding-left: 20em;
  border-top: 1px solid #555C66;
}

.fiveSection__content {
  display: flex;
  justify-content: center;
}

.fiveSection__FeedBack {
  display: flex;
  flex-direction: column;
  border: 1.5px solid #555C66;
  border-radius: 16px;
  background: #dae7f1;
  box-shadow: 0 0 10px 1px #082d4a;
}

.fiveSection__FeedBack:nth-child(2) {
  margin: 0 32px;
}

.fiveSection__student {
  display: flex;
  padding-bottom: 20px;
}

.fiveSection__section {
  padding-bottom: 20px;
}

.fiveSection__StudentName {
  align-self: center;
  padding: 0 40px 0px 40px;
  font-size: 26px;
  font-weight: bold;
}

.fiveSection__image {
  box-shadow: 0 0 5px 1px black;
}

.fiveSection__FeedBack img {
  width: 150px;
  height: 150px;
  border: 1.5px solid #555C66;
  border-radius: 50%;
}

.FeedBackSection {
  padding: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  line-height: 30px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .fiveSection__title {
    font-size: 1.5em;
  }
  .fiveSection__title:after {
    content: "";
    padding-left: 15em;
    border-top: 1.5px solid #555C66;
  }

  .fiveSection__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .fiveSection__FeedBack:nth-child(2) {
    margin: 24px 0;
  }

  .fiveSection__FeedBack {
    padding: 20px 30px;
  }
}
@media (min-width: 769px) and (max-width: 1120px) {
  .fiveSection__title {
    font-size: 2em;
  }
  .fiveSection__title:after {
    content: "";
    padding-left: 15em;
    border-top: 1.5px solid #555C66;
  }

  .fiveSection__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .fiveSection__FeedBack:nth-child(2) {
    margin: 24px 0;
  }

  .fiveSection__FeedBack {
    padding: 20px 20px 20px 30px;
  }
}
@media (min-width: 1121px) {
  .fiveSection__FeedBack {
    padding: 20px 30px;
    width: 25%;
  }
}
@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/ProximaNova-Light.eot");
  src: local("Proxima Nova Light"), local("../fonts/ProximaNova-Light"), url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  src: local("Libre Baskerville"), local("LibreBaskerville-Regular"), url("../fonts/librebaskerville.woff2") format("woff2"), url("../fonts/librebaskerville.woff") format("woff"), url("../fonts/librebaskerville.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Proxima Nova Lt";
}

.general {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 1px 25px 1px black;
}

.ru {
  display: none;
}

.eng {
  display: none;
}

.arAlign {
  text-align: right;
  font-size: 25px;
}

.ar {
  display: none;
}

.arTitle {
  text-align: center;
  display: none;
}

.hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
